# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\One Drive\OneDrive - Universidade de Coimbra\Univerisdade\UNI-Meu\PL SD\Ficha6_WebProgramming\Hey\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
